<nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <div id="sticky-wrapper" class="sticky-wrapper" style="margin-top:-16px;height: 60px;"><header class="navbar js-sticky-header" role="banner" style="background: linear-gradient(135deg, rgb(255, 255, 255), rgb(51, 122, 183), rgb(0, 33, 71), rgb(0, 33, 71), rgb(0, 33, 71), rgb(0, 33, 71), rgb(255, 255, 255));">
    <div class="container-fluid">
        <img style src="../../assets/pictures/1.png" alt="ff"width="62px">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
             <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white;margin-left:20px;" class="nav-link" href="#">Home</a>
              </li>
          <li class="nav-item">
            <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white;margin-left:20px;"  class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white;margin-left:20px;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admission
            </a>
            <ul  class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="https://www.au.edu.pk/Pages/Admission/Why_AU.aspx">Why Air University</a></li>
              <li><a class="dropdown-item" href="https://www.au.edu.pk/Pages/Admission/admission_schedule.aspx">Admission Schedule</a></li>
              <li><a class="dropdown-item" href="https://www.au.edu.pk/Pages/Admission/fees_financial.aspx">Fee and<br>Financial Aid</a></li>
              <li><a class="dropdown-item" href="https://www.au.edu.pk/Pages/Admission/Scholarship.aspx">Scholarship</a></li>
              <li><a class="dropdown-item" href="https://www.au.edu.pk/Pages/Admission/eligibility_criteria.aspx">Eligibility Criteria</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white;margin-left:20px;" class="nav-link" href="#">Scholarship</a>
          </li>
          <li class="nav-item dropdown">
            <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white;margin-left:20px;"  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Faculties
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="https://www.au.edu.pk/Pages/Faculties/IAA/iaa.aspx">Faculties of Avionics<br>and Aeronotics</a></li>
              <li><a class="dropdown-item" href="https://www.au.edu.pk/Pages/Faculties/Basic_Applied_Sciences/faclty_applied_about.aspx">Faculties of Basic &<br>Applied Sciences</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a  style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white;margin-left:20px;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Research
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="https://www.au.edu.pk/Pages/Research/computing.aspx">Research Labs</a></li>
              <li><a class="dropdown-item" href="http://journals.au.edu.pk/ojs/index.php/jbe">Journel of Business<br>& Economics</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white;margin-left:20px;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Offices
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="https://www.au.edu.pk/Pages/QEC/qec_home.aspx">QEC</a></li>
              <li><a class="dropdown-item" href="https://portals.au.edu.pk/cpd/">CPD</a></li>
              <li><a class="dropdown-item" href="https://www.au.edu.pk/Pages/ORIC/oric_home.aspx">ORIC</a></li>
              <li><a class="dropdown-item" href="https://www.au.edu.pk/Pages/Examination/exam_introduction.aspx">Examination</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white;margin-left:20px;margin-right:410px"  class="nav-link" href="#">Contact Us</a>
          </li>


          
        </ul>
      </div>
    </div>
    </header>
    </div>
  </nav>
  
