
<br> <br>
<div class="footer-top" style="background-color: #002147;">
    <br>
    <div class="container">
        <div style="color: blanchedalmond;" class="row">
            <div class="col-6 col-lg-2 col-md-2 col-sm-2">
                <div class="widget footer_widget">
                    <h5 class="footer-title">Quick Links</h5>
                    <ul>
              <li><a href="https://portals.au.edu.pk/admissions/">Admission Spring 2022</a></li>                                    
              <li><a href="https://numspak.edu.pk/news">MBBS Admission 2021</a></li>
                 <li><a href="https://portals.au.edu.pk/jobs/">Job Opportunities</a></li>
                        <li><a href="https://mail.au.edu.pk/">Staff Email</a></li>
                        <li><a href="https://accounts.google.com/ServiceLogin/webreauth?continue=https%3A%2F%2Fwww.google.com%2Fa%2Fcpanel%2Fstudents.au.edu.pk%2FDashboard&amp;service=CPanel&amp;sacu=1&amp;hd=students.au.edu.pk&amp;flowName=GlifWebSignIn&amp;flowEntry=ServiceLogin#identifier" id="A43">Student Email</a></li>
                        <li><a href="Pages/AUInfo/Advertisment.aspx" id="A44">Ads and Tender</a></li>
                        <li><a href="Pages/Library/about_Library.aspx" id="A45">Library</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-2 col-sm-2">
                <div class="widget footer_widget">
                    <h5 class="footer-title">Quick Links</h5>
                    <ul>
                        <li><a href="https://portals.au.edu.pk/student/" id="A46">Student Portal</a></li>
                        <li><a href="Pages/About/au_lms.aspx" id="A51">AULMS</a></li>
                        <li><a href="https://au.edu.pk/fmc/">Fazaia Medical College</a></li>
                        <li><a href="https://au.edu.pk/pages/Kamra_Campus/#">Aerospace &amp; Aviation Campus Kamra</a></li>
                        <li><a href="http://aumc.edu.pk/" id="A47">Air University Multan Campus</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-lg-4 col-md-4 col-sm-4">
                <div class="widget footer_widget">
                    <h5 class="footer-title">Consitutent Units</h5>
                    <ul>
                        <li><a href="https://au.edu.pk/fmc/" id="A48">Fazaia Medical College, Islamabad</a></li>
                        <li><a href="https://frpmc.edu.pk/">Fazaia Ruth Pfau Medical College, Karachi</a></li>
                        <li><a href="Pages/AffilatedInstitutes/cft_risalpur_college.aspx" id="A49">College of Flying Training, Risalpur</a></li>
                        <li><a href="Pages/AffilatedInstitutes/casmcontent.aspx" id="A50">College of Aviation Safety Management, Karachi</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-lg-4 col-md-4 col-sm-4">
                <div class="widget footer_widget">
                    <h5 class="footer-title">Affiliated Institutes</h5>
                    <ul>
                        <li><a href="Pages/AffilatedInstitutes/introduction.aspx" id="A54">Bilquis College of Education for Women, Chaklala, Rawalpindi</a></li>
                        <li><a href="Pages/AffilatedInstitutes/introduction.aspx" id="A55">Fazaia College of Education for Women, Lahore</a></li>
                        <li><a href="Pages/AffilatedInstitutes/introduction.aspx" id="A56">Aero Medical Institute, PAF Base, Masroor, Karachi</a></li>
                        <li><a href="Pages/AffilatedInstitutes/introduction.aspx" id="A57">College of Education, Peshawar</a></li>
                        <li><a href="Pages/AffilatedInstitutes/introduction.aspx" id="A58">College of Education for Women, Peshawar</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                <div class="widget">
                    <h5 class="footer-title">AU UAN</h5>
                    <p><kbd><span class="fa fa-phone" aria-hidden="true"></span> 051-111-247-864</kbd></p>
                    <h5 class="footer-title">Address</h5>
                    <p class="text-capitalize m-b20">Main Campus PAF Complex E-9 Islamabad.</p>
                </div>
            </div>
            <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                <div class="widget widget_gallery gallery-grid-4">
                    <h5 class="footer-title">Location Map</h5>
                    <iframe src="https://www.google.com/maps?q=Air University,Islamabad&amp;output=embed" frameborder="0" style="border: 0" width="100%" height="300" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
  

 