<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <header class="navbar  hidden-xs" role="banner" style="margin-top:-10px;padding-bottom:11px;background: linear-gradient(135deg, #002147 1%,#002147 100%) ; border-bottom: 1px solid #fff;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white"  class="nav-link" href="#">Jobs</a>
          </li>

          <li class="nav-item dropdown">
            <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white;margin-left:20px" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Email
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="https://mail.au.edu.pk/">AU Email</a></li>
              <li><a class="dropdown-item" href="#">Student Email</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white;margin-left:20px"  class="nav-link" href="#">Ads and Tender</a>
          </li>
          <li class="nav-item">
            <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white;margin-left:20px" class="nav-link" href="#">Library</a>
          </li>
          <li class="nav-item">
            <a  style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white;margin-left:20px" class="nav-link" href="#">Student Portal</a>
          </li>
          <li class="nav-item">
            <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white;margin-left:20px" class="nav-link" href="#">FMC</a>
          </li>
          <li class="nav-item dropdown">
            <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white;margin-left:20px" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Campuses
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="https://au.edu.pk/pages/Kamra_Campus/#">Aviation & Aerospace<br>Campus Kamra</a></li>
              <li><a class="dropdown-item" href="http://aumc.edu.pk/">Air University Multan<br>Campus</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white;margin-left:20px"  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Consitutent Units
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="https://au.edu.pk/fmc/">Fazaia Medical College,<br>Islamabad</a></li>
              <li><a class="dropdown-item" href="https://frpmc.edu.pk/">Fazaia Ruth pfau<br>Medical College,<br>Karachi</a></li>
              <li><a class="dropdown-item" href="https://www.au.edu.pk/Pages/AffilatedInstitutes/cft_risalpur_college.aspx">College of Flying<br>Training,Risalpur</a></li>
              <li><a class="dropdown-item" href="https://www.au.edu.pk/Pages/AffilatedInstitutes/casmcontent.aspx">College of Aviation<br>Safety Management,<br>Karachi</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white;margin-left:20px" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admissions
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="https://portals.au.edu.pk/admissions/">Admission Spring-2022</a></li>
              <li><a class="dropdown-item" href="https://numspak.edu.pk/news">MBBS Admission 2021</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white;margin-left:20px" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Affiliated Institutes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="https://www.au.edu.pk/Pages/AffilatedInstitutes/introduction.aspx">Bilquis College of<br>Education for Women,<br>Chaklala,Rawalpindi</a></li>
              <li><a class="dropdown-item" href="https://www.au.edu.pk/Pages/AffilatedInstitutes/introduction.aspx">Fazaia College of<br>Education for Women,<br>Lahore</a></li>
              <li><a class="dropdown-item" href="https://www.au.edu.pk/Pages/AffilatedInstitutes/introduction.aspx">College of Education,<br>Peshawar</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white;margin-right:70px" class="nav-link" href="#">AULMS</a>
          </li>

        </ul>
      </div>
    </div>
  </header>
  </nav>