<br> <br>
<div class="row1">
    <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-left: 2%;"><u> AU FACULTIES AND INSTITIUTE</u> </h1>
    <div class="column1">
      <a href="#"><img src="../../assets/pictures/set of 4 image p1.PNG" alt="Snow" style="width:90%"></a>
      <br> <hr> <a href="" style="font-size: small ;color: rgba(0, 38, 255, 0.781);margin-left: 3%; "> AIR University School of Mangement </a>
    </div>
    <div class="column1">
      <a href="#"><img src="../../assets/pictures/set of 4 image p2.PNG" alt="Forest" style="width:90%"></a>
      <br> <hr> <a href="" style="font-size: small ;color: rgba(0, 38, 255, 0.781);margin-left: 5%; "> Faculty of aerospace <br>and science Startgic Studeies </a>
    </div>
    <div class="column1">
     <a href="#"> <img src="../../assets/pictures/set of 4 image p3.PNG" alt="Mountains" style="width:90%"> </a>
     <br> <hr> <a href="" style="font-size: small ;color: rgba(0, 38, 255, 0.781);margin-left: 5%; "> Faculty of Basic and Applied sciences </a>
    </div>
    <div class="column1">
      <a href="#"><img src="../../assets/pictures/set of 4 image p4.PNG" alt="Mountains" style="width:90%"></a>
      <br> <hr> <a href="" style="font-size: small ;color: rgba(0, 38, 255, 0.781);margin-left: 5%; "> Faculty of Computing and Artifical Intelligence </a>
    </div>
  </div>

  <div class="row1">
    
    <div class="column1">
      <a href="#"><img src="../../assets/pictures/set of 4 image p5.PNG" alt="Snow" style="width:90%"></a>
      <br> <hr> <a href="" style="font-size: small ;color: rgba(0, 38, 255, 0.781);margin-left: 3%; "> Faculty of Social Sciences </a>
    </div>
    <div class="column1">
      <a href="#"><img src="../../assets/pictures/set of 4 image p6.PNG" alt="Forest" style="width:90%"></a>
      <br> <hr> <a href="" style="font-size: small ;color: rgba(0, 38, 255, 0.781);margin-left: 5%; "> Faculty of Engineering </a>
    </div>
    <div class="column1">
     <a href="#"> <img src="../../assets/pictures/set of 4 image p7.PNG" alt="Mountains" style="width:90%"> </a>
     <br> <hr> <a href="" style="font-size: small ;color: rgba(0, 38, 255, 0.781);margin-left: 5%; "> Faculty of Health and science </a>
    </div>
    <div class="column1">
      <a href="#"><img src="../../assets/pictures/set of 4 image p8.PNG" alt="Mountains" style="width:90%"></a>
      <br> <hr> <a href="" style="font-size: small ;color: rgba(0, 38, 255, 0.781);margin-left: 5%; "> INSTITIUTE of avionics and aeronautics </a>
    </div>
  </div>




  