<br><br>
<div class="section-area section-sp2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 heading-bx left">
                <h2 class="title-head" style="border-color: #002147;"><b>AU </b> <span><b>ACADEMICS</b></span>
                </h2>
            </div>
        </div>

        <div class="row">
            <div  class="col-lg-4 mb-4">
                <div  class="card">
                    <img src="../../assets/pictures/au acadamic img-1.PNG" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">UNDERGRADUATE PROGRAMES</h4>
                        <p class="card-text" style="text-align: justify">
                            The Undergraduate education holds key to foundation building and professional development of students. Our diverse UG programmes transform students into productive individuals.
                        </p>

                        <a href="Pages/Admission/newpages/undergraduateprog.aspx" id="ContentPlaceHolder_header_footer_A5" class="btn btn-outline-success btn-sm" style="background-color: #002147; color: white; font-family: 'Roboto',sans-serif;">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="../../assets/pictures/au acadamic img-2.PNG" alt="" class="card-img-top" style="height: 141px">
                    <div class="card-body">
                        <h4 class="card-title">MASTERS PROGRAMES</h4>
                        <p class="card-text" style="text-align: justify">
                            Graduate programmes permeate the spirit of enquiry amongst students and advance their knowledge and skills in specialised fields. Therefore, AU offers highest number of programmes at the MS level.
                        </p>

                        <a href="Pages/Admission/newpages/masterprog.aspx" id="ContentPlaceHolder_header_footer_A6" class="btn btn-outline-success btn-sm" style="background-color: #002147; color: white; font-family: 'Roboto',sans-serif;">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="../../assets/pictures/au acadamic img-3.PNG" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">PhD PROGRAMES</h4>
                        <p class="card-text" style="text-align: justify">The economic advantage predominantly hinges upon creation of new knowledge. The doctoral programmes at AU are thus aimed at producing knowledge that renders fuel to economic growth.</p>

                        <a href="Pages/Admission/newpages/phdprog.aspx" id="ContentPlaceHolder_header_footer_A7" class="btn btn-outline-success btn-sm" style="background-color: #002147; color: white; font-family: 'Roboto',sans-serif;">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-12 heading-bx left">
        <h2  class="title-head" style="border-color: #002147;margin-left: 3%;"><b>CONSTITUENT COLLEGES</b>
        </h2>
    </div>
</div>
<div class="row">
    <div class="column">
      <img src="../../assets/pictures/uni institute-1.PNG" alt="Snow" style="width:100%">
    </div>
    <div class="column">
      <img src="../../assets/pictures/uni institute-2.PNG" alt="Forest" style="width:100%">
    </div>
    <div class="column">
      <img src="../../assets/pictures/uni institute-3.PNG" alt="Mountains" style="width:100%">
    </div>
    <div class="column">
        <img src="../../assets/pictures/uni institute-4.PNG" alt="Mountains" style="width:100%">
      </div>
  </div>


