<br>
<div class="row">
    <div class="col-md-6">
        <h2  class="title-head" style="border-color: #002147; padding-left:2%;" ><b>LATEST NEWS</b></h2>
        <hr>
        <marquee behavior="scroll" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
                <ul class="timeline">


                      <li>
                        <a href="https://au.edu.pk/Pages/Examination/exam_tentative_datesheet.aspx">
                            <b>Tentative Date Sheet Final Examinations Fall 2021
                                <img src="new.gif" alt=""></b>
                        </a>
                        <a href="#" class="float-right">
                            <b>22<sup>nd</sup> Dec, 2021</b>
                        </a>
                        <p>Click here to view details</p>
                    </li>

     <li>
                        <a href="https://portals.au.edu.pk/qec/">
                            <b>Student Feedback Fall-21 (Islamabad &amp; Kamra Campus)
                                <img src="new.gif" alt=""></b>
                        </a>
                        <a href="#" class="float-right">
                            <b>14<sup>th</sup> Dec, 2021</b>
                        </a>
                        <p>Click here to view details</p>
                    </li>


     <li>
                        <a href="https://portals.au.edu.pk/admissions/">
                            <b>Admission Open Spring-2022
                                <img src="new.gif" alt=""></b>
                        </a>
                        <a href="#" class="float-right">
                            <b>10<sup>th</sup> Dec, 2021</b>
                        </a>
                        <p>Click here to apply</p>
                    </li>

             
                    <li>
                        <a href="https://portals.au.edu.pk/feesystem/">
                            <b>Fee Bills Fall 2021
                              <img src="new.gif" alt=""></b>
                        </a>
                        <a href="#" class="float-right">
                            <b>10<sup>th</sup> Dec, 2021</b>
                        </a>
                        <p>Click here to view bills Fall 2021...</p>
                    </li>

                    <li>
                        <a href="https://portals.au.edu.pk/autech">
                            <b>TechHighEd Pakistan 2021
                                <img src="new.gif" alt=""></b>
                        </a>
                        <a href="#" class="float-right">
                            <b>21<sup>st</sup> Dec, 2021</b>
                        </a>
                        <p>Click here to view details</p>
                    </li>  
                   <!-- <li>
                        <a href="AU_Documents/Fass_Conference.jpg">
                            <b>National Security Concept (21<sup>st</sup> Century)
                                <img src="new.gif" alt="" /></b>
                        </a>
                        <a href="#" class="float-right">
                            <b>30<sup>th</sup> Nov, 2021</b>
                        </a>
                        <p>Click here to view details</p>
                    </li> -->                                  

                    
     <li>
                         <a href="AU_Documents/AIRC_2022.png">
                            <b>AUSOM International Research Conference
                                <img src="new.gif" alt=""></b>
                        </a>
                        <a href="#" class="float-right">
                            <b>7<sup>th</sup> Mar, 2022</b>
                        </a>
                        <p>Click here to view details</p>
                    </li>
                                    
                     
                    <li>
                        <a href="Pages/AUInfo/download/Academic_Calendar_2021_22.pdf" id="ContentPlaceHolder_header_footer_A3">
                            <b>Academic Calendar 2021-22
                               </b>
                        </a>
                        <a href="#" class="float-right">
                            <b>13<sup>th</sup> Sep, 2021</b>
                        </a>
                        <p>Click here to view Academic Calendar 2021-22...</p>
                    </li>
                </ul>
                </marquee>
    </div>
    <div class="col-md-6">

        <h2 class="title-head" style="border-color: #002147;"><b>AU LINKAGES</b></h2>
        <hr>
        <div class="card bg-light">

            <div class="card-body">
                <!-- National Linkage-->
                <div class="card card-flip h-100">
                    <div class="card-front text-white bg-dark">
                        <div class="card-body">

                           <a href="#"><img style="padding-left: 5%;"  src="../../assets/pictures/side img 1.jpeg" class="img img-responsive"></a> 
                        </div>
                    </div>
                    <div class="card-back bg-white">
                        <div class="card-body text-center">

                            <h3>National Linkages</h3>
                        </div>
                    </div>
                </div>
                <!-- End Code Nation Linkage-->
                <!-- National Linkage-->
                <div class="card card-flip h-100">
                    <div class="card-front text-white bg-dark">
                        <div class="card-body">
                            <!--<i class="fa fa-search fa-5x float-right"></i>-->
                            <!--<h3 class="card-title">Front</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                           <a href="#"> <img style="padding-left: 5%;" src="../../assets/pictures/side img 2.jpeg" s class="img img-responsive"> </a>
                        </div>
                    </div>
                    <div class="card-back bg-white">
                        <div class="card-body text-center">

                            <h3>International Linkages</h3>
                        </div>
                    </div>
                </div>
                <!-- End Code Nation Linkage-->
            </div>
        </div>

    </div>
</div>



