<br>
<br> 
<div class="card bg-dark text-white">
    <img style="opacity: 0.5;" src="../../assets/pictures/rank image.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <ul style="list-style: none; text-align: justify;color: black;">
            <li style="margin-left: 20px; margin-top:10%;">
                <h1 class="text-uppercase" style="text-align: justify; "><strong>AU Ranked</strong> </h1>

                <ul style="list-style: square; text-align: justify; padding: 20px">
                    <li style="margin-bottom: 20px">
                        <h4><b style="font-size: 23px">8<sup>th</sup></b> research intensive university by HEC</h4>
                    </li>

                    <li>
                        <h4><b style="font-size: 23px">15<sup>th</sup></b> QS ranked university among <b>232</b> universities of Pakistan</h4>

                    </li>
                </ul>
            </li>
        </ul>
    </div>
  </div>




